<launch>

   <node pkg="yolo_v3" type="yolo.py" name="yolo" output="screen">       
   </node>

   <node pkg="strategy" type="vision_servo_task.py" name="vision_servo_task" output="screen">       
   </node>

   <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">       
   </node>

</launch>
