/*===========================================*/

/* ================================================================= */
/* ==================== object id properties ==================== */
/* ================================================================= */
/* #btn_Catch_finger1
{
    margin: 10px;
	font-size: 18px;
	border-radius: 30px;
	border-style: ridge;
	width: 120px;
	height: 35px;
	text-align: center;
	background-color: lightblue; 
}*/

/* #btn_stop_all
{
	margin: 10px;
	font-size: 18px;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: red;
} */

/* #btn_disable_all
{
	margin: 10px;
	font-size: 18px;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: red;
} */

#sub_Title_Board1 
{
	text-align: center;
	vertical-align: middle;
	background-color: lightblue;
}

#btn_Connect
{
	width: 175px;
	background-color: white;
}

#btn_disable_all
{
	width: 175px;
	background-color: white;
}

#gripper_control
{
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
}

#DisplayTable
{
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
} */
/* #btn_DisConnect
{
	width: 170px;
	/* background-color: lightgreen; */
} */
/* ================================================================= */
/* ==================== object class properties ==================== */
/* ================================================================= */
.multi_finger_Control
{
	margin: 10px;
	font-size: 18px;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: lightgreen;
}

.single_finger_Control
{
	margin: 10px;
	font-size: 18px;
	border-radius: 30px;
	width: 150px;
	height: 40px;
	text-align: center;
	background-color: lightblue;
}


#DisplayTable tr
{
	text-align: right;
	float: right;
	background:none;
}